h2:not(:first-of-type) {
  margin-top: 4rem;
}

tr td:first-of-type {
  min-width: 0;
  width: 0;
}

tr:nth-child(2n+1) td {
  background-color: #f6f6f6;
}

.label {
  border-radius: 0.25rem !important;
}

.side-bar + .main {
  margin-left: 30%;
  max-width: 64rem;
}

.side-bar {
  width: 25%;
}
