h2:not(:first-of-type) {
  margin-top: 5rem;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 0;
}

td:first-of-type {
  min-width: 0;
  width: 0;
}

th {
  background-color: #f5f6fa;
  font-weight: bolder;
}

.label {
  border-radius: 0.25rem !important;
}
